/* General Stylees */
body{
	font-family: 'Roboto', sans-serif;;
}

.bgc{
	background-color: rgba(227,242,253,0.9);
}

/* Menu and Navigation */
#menu .container{
	border-bottom: solid 1px rgba(0,0,0,.1);
}
#menu nav a{
	font-size: 12px;
}
.dmenu{
	position: relative;
}
.navbar{
	margin-bottom: 0;
	border: none;
	background: none;
}
.dmenu a {
	font-family: Montserrat;
	border-bottom: 4px solid transparent;
	font-weight: bold;
}
.dmenu li:last-child a:after{
	display: none;
}
.dmenu .active{
	border-bottom-color: #2b303d;;
}
.dmenu a:after{
	content: '';
	background-color: rgba(0,0,0,.1);
	width: 1px;
	height: 24px;
	position: absolute;
	right: 0;
	top: 15px;
}


/* All Packages */
#allpkg{
	text-align: center;
}
#allpkg > nav{
	display: inline-block;
	border-bottom: solid 1px rgba(0,0,0,.1);
}
#allpkg nav a{
	font-size: 15px;
}


/* reduce the space between form elements */
.closeform > div{
	padding-right: 0;
}

.closeform > div:last-child{
	padding-right: 15px;
}
.control{
	padding: 10px 0 40px;
}
.control .form-control{
	border-radius: 0;
/*	padding: 1.7em;
*/	margin-bottom: 5px;
}

.subtn{
	padding: 5px 15px;
	border-radius: 0;
	font-size: 2em;
}

.btn, .form-control{
	border-radius: 0;
}


/* Body */
.section-title p{
	font-size: 1.2em;
    color: #a49c9c;
    margin-top: -5px;
}
.section-title{
	margin-bottom: 20px;
}

/* Footer */
.footer .list-inline a{
	color: #ccc;
}




/* Search Result */
.control.mini{
	padding: 20px 0 5px;
}

.control.mini input[type='submit']{
	display: block;
	width:  100%;
}


/** Airline **/
.flight{
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.flight .time{
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
}
.flight .amnt{
	text-align: right;
	font-weight: bold;
	padding-top: 10px;
	font-size: 16px;
}
.flight .meta{
	font-size: 12px;
}
.flight .meta li{
	margin-right:10px;
	position: relative;
	color: #777;
}
.flight .meta li:after{
	content: ' ';
    display: block;
    border-right: 2px solid #ccc;
    height: 11px;
    position: absolute;
    top: 3px;
    right: -7px;
}
.flight .meta li:last-child:after{
	display: none;
}


/** Hotel **/
.search_item_img{
	padding-right: 0;
	max-height: 169px;
	overflow: hidden;

}
.evelist{
	padding-bottom:0 !important;
}
.evelist .register{
	margin-bottom: 15px;
}
.evelist .content{
	background-color: #fff;
}

.hotelpkg .row{
	border-bottom: 2px dotted #ccc;
	padding: 10px 0 0;
}
.hotelpkg .row:last-child{
	border-bottom: none;
}



/*utitlity no gutters class*/

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/*featured section area*/
/* Highlight Item */
.highlight-item-title{
	max-height: 120px;
	background-color: #732074;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding: 30px 50px;
	margin: 0;
}
.highlight-item-content{
	min-height: 420px;
	position: relative;
}
.highlight-item-content::before{
	content: '';
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	position: absolute;

}
.highlight-item-content > div{
	color: #fff;
	position: absolute;
	bottom: 0;
	padding: 20px 20px 30px;
}

#focus .main, #focus .other{
	overflow: hidden;
}
#focus .main{
	height: 400px;
}
#focus .other{
	height: 200px;
}

#focus .focus-title{
	margin-top: 0;
	color: #fff;
	position: absolute;
	padding: 20px;
}

#focus .highlight-item-content {
	position: static;
	background-repeat: no-repeat;
	background-size: cover;
}


.filterbox{
	color: #555964;
	background-color: #f6f6f8;
	padding: 15px;
	margin-bottom: 20px;
}
.filter-option{
	padding-left: 40px;
	border-bottom: 2px dotted #ccc;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;

}
.filter-option .icon{
	position: absolute;
	top: 14px;
	left: 14px;
	font-size: 18px;
	opacity: .6;
}
.filter-option .title{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 18px;
}
.filter-option .content{

}




/* Dropped in style from other project: */

.pt_20{
	padding-top: 20px;	
}
.pb_15{
	padding-bottom: 15px;	
}
.pb_10{
	padding-bottom: 10px;
}
.pt_30{
	padding-top: 30px;	
}
.pt_10{
	padding-top: 10px;
}
.pr_0{
	padding-right: 0px;
}
.pl_0{
	padding-left: 0px;
}
.mb_0{
	margin-bottom: 0px;
}
.mt_0{
	margin-top: 0px;
}
.mb_20{
	margin-bottom: 20px;
}
.mb_10{
	margin-bottom: 10px;
}
.mt_-20{
	margin-top: -20px;
}
.bg_o{
	background-color: #F97C00;
	color: #fff;
}
.bg_b{
	background-color: #0066CC;	
	color: #fff;
}


/* Media query */
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#home_search form .form-group{
		margin-bottom: 0px;
	}
	
	#promises > div {
		margin-bottom: 0px;
		text-align:center;
	}
	.featured_items > div > div{
		margin-bottom: 0px;
	}
	#featured_bottom .featured_items > div > div{
		margin-bottom: 30px;
	}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

.search_item{
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.search_item_desc p.h4{
	margin-bottom: 0px;
}
.listing_host > p{
	margin-bottom: 5px;
}

#filter .checkbox{
	display: inline-block;
}



/* Media query */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.side_bar{
		float: none !important;	
	}
	#filter .checkbox{
		display: inline-block;
		margin-right: 20px;
	}
}

@media (max-width: 991px){
	.search_item_price{
		text-align: left;
	}
	.search_item_price .h3, .search_item_price .btn{
		margin: 0;
	}
	.search_item_price_at_break{
		margin-bottom: 10px;
	}
	.side_bar{
		float: none !important;
	}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.side_bar{
		max-width: 330px;
		float: left !important;
	}
 }




/* Featured Items */
.featured_item{
	background-color: #fff;
	margin-bottom: 10px;
}

.fi_content{
	padding: 15px;
}

.fi_content .fi_title{
}

.fi_content .fi_title a{
	color: inherit;
	font-size: 1.8rem;
}
.fi_bottom{
}
.fi_more{
	padding: 4px 10px;
	border: 2px solid #000;
	margin-top: 20px;
	font-weight: bold;
	color: #000;
	font-size: 1.2rem;
	display: inline-block;
}
